<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'base.css'%}" />
    {% block css %}
    {% endblock css %}
    <title>FirstMe</title>
</head>

<body>
    {% if user.is_authenticated %}
    <div class="navbar__menu__item"><a href="{% url 'logout' %}">로그아웃</a></div>
    {% else %}
    <div class="navbar__menu__item"><a href="{% url 'login' %}">로그인</a></div>

    {% endif %}
    <div class="navbar__menu__item"><a href="{% url 'home' %}">홈</a></div>


    {% block title %} {% endblock title %}

    {% block content %} {% endblock content %}
</body>

</html>