{% extends 'base.html' %}

{% block css %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
{% endblock css %}


{% block content %}
{% if error %}
    {{ error }}
{% else %}

<h1>명함 페이지</h1>
<img src="{{ profile_pic }}" height='200' width='200'/>
<p>이름: {{ card.name }}</p>
<p>전화번호: {{ card.phone_num }}</p>
<p>한 줄 소개: {{ card.intro }}</p>
<p>MBTI: {{ card.mbti }}</p>
<a href="{% url 'group_list' card.link %}">그룹 리스트</a>
<a href="{% url 'edit' card.link %}">수정하기</a>
{% endif %}
{% endblock content %}