{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'group_detail.css' %}">
{% endblock css %}


{% block content %}

<!-- 유저가 그룹 열람 권한이 없을 때 -->
{% if error %}
    <p>{{ error }}</p>

<!-- 유저가 그룹 열람 권한이 있을 때 -->
{% else %}
<h1>{{group.name}}</h1>
<ul>
    {% for card in member_card %}
    <li>
        <a href="/mycard/{{card.link}}">{{ card.name }}</a> | {{ card.phone_num }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}