{% extends 'base.html' %}


{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock css %}

{% block content %}
 <!-- 로그인일 때 -->
    {% if user.is_authenticated %}
    {% comment %} <div class="navbar__menu__item"><a href="/mycard/{{card.link}}/">내 명함 보기</a></div> {% endcomment %}
    
        <div class="logo">
            <p>FirstMe</p>
    <div class="navbar__menu__item">
        <a href="/mycard/{{card.link}}/">내 명함 보기</a>
    </div>
    <div>
        <div>
            <h1>FIRST ME</h1>
        </div>
        
        <div>
            <a href="{% url 'logout' %}">로그아웃</a>
        </div>
        <div OnClick="location.href ='{% url 'detail' card.link %}' " style="cursor:pointer;">
            <img src="{{ profile_pic }}" height='200' width='200'/>
            <p>이름: {{ card.name }}</p>
            <p>전화번호: {{ card.phone_num }}</p>
            <p>한 줄 소개: {{ card.intro }}</p>
            <p>MBTI: {{ card.mbti }}</p>
        </div>
    </div>
    <div>
        <a href="{% url 'friend_list' card.link %}">친구 리스트</a>
        <a href="{% url 'group_list' card.link %}">그룹 리스트</a>
    </div>

    {% else %}
    

    <div class="logo">
        <p>FirstMe</p>
    </div>
    <div class="login">
         <a href="{% url 'login' %}">로그인</a>
    </div>

    <div class="container">
        <div class="ex_image">
            <img src="https://ifh.cc/g/0S99sF.png" alt="명함예시이미지" />
        </div>
    
    
    <p>나만의 명함을 만들고 손쉽게 공유해 보세요:)</p>
    
        <button onclick = "location.href = '/registration/login/' ">지금 바로 시작하기</button>
    
    
    {% endif %}
    </div>
{% endblock content %}