.mycard{
    margin-right:15px;
    width: 332px;
    height: 530px;
    background: linear-gradient(144.22deg, #FFCDA5 0%, #EE4D5F 100%);
    border-radius: 10px;
    filter: drop-shadow(4px 4px 8px rgba(230, 91, 91, 0.25));
}


.face{
    position: relative;
    left:67px;
    z-index: 2;
    top:45px;
}

.circle{
    position:relative;
    left:50px;
    bottom:170px;
    z-index:1;

}
.card-name{
font-weight: 700;
font-size: 24px;
line-height: 29px;
}
.card-content{
    position: relative;
    left:20px;
    bottom:150px;
    color:  #FFFFFF;
    
}

.phone-num{
    margin-bottom:27px;
}

.card-intro{
    margin-bottom:27px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: #958D8D;
}

.comment{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(28, 26, 26, 0.53);
}