
.container {
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.logo > p{
    font-weight: 900;
    font-size: 32px;
    line-height: 38.4px;
    background: linear-gradient(144.22deg, #FFBF8B 0%, #EE4D5F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* 로그인 아님 */

.login{
    position: absolute;
    display: block;
    right:30x;
    top:40px;


    
    
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */   
    text-align: center; 
    color: rgba(28, 26, 26, 0.53);  
    position: relative;
    bottom:10px;

}

button{
    background: #FF8282;
    border-radius: 5px;
    border: solid #FF8282;
    color: white;
    font-size: 18px;
    width: 181px;
    height: 43px;
    margin-top: 13px;
    filter: drop-shadow(4px 4px 8px rgba(230, 91, 91, 0.25));

}

.ex_image{
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
}

a {
    text-decoration: none;
    color: #FF8282;
    font-weight: 600;
}  


