{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{% endblock css %}

{% block content %}

<div>
    <p class="login">로그인</p>
    <a href="#" onClick="history.back()"> < </a> 
    
</div>

<div class="container"> 
    <div class="img">
        <img src="https://ifh.cc/g/AvGA94.png">
    </div>  
    
    <div class="input">
        <section id="login">
            <form method="POST">
                {% csrf_token %}
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
                <div class="username"><input type="text" name="username" placeholder="아이디" /></div>
                <div class="password"><input type="text" name="password" placeholder="비밀번호" /></div>
                
                <button type="submit">로그인</button>
                <!-- <div>
                    <a href="{% url 'signup' %}">회원가입</a>
                </div> -->
            </form>
        </section>


    </div>
   
</div>



 
{% endblock content %}