{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
{% endblock css %}

{% block content %}
<section id="signup">
    <form method="POST">
        {% csrf_token %}

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        <h1>내 계정 만들기</h1>

        <input type="text" name="username" placeholder="아이디" required/>
        <input type="text" name="password" placeholder="비밀번호" required />

        <h1>내 명함 정보</h1>

        <h2>Step 1: 필수</h2>
        <p>이름</p>
        <input type="text" name="name" placeholder="이름" required/>
        <p>전화번호</p>
        <input type="text" name="phone_num" placeholder="전화번호 ex)01012345678" required/>
        <p>내 도메인 주소</p>
        <p>ex) 'gpark'입력 시 -> (/mycard/gpark) 도메인을 가지게 됩니다.</p>
        <input type="text" name="link" placeholder="내 도메인 주소" required/>
        <div>
            <p>프로필 사진 선택하기</p>
            {% for pic in profile_pics_men %}
            <img src="{{pic}}" height="100" width="100">
            {% endfor %}
            <br>
            <input type="radio" id="profileChoice1"
             name="profile_pic" value="1">
            <label for="profileChoice1">1</label>

            <input type="radio" id="profileChoice2"
             name="profile_pic" value="2">
            <label for="profileChoice2">2</label>

            <input type="radio" id="profileChoice3"
             name="profile_pic" value="3">
            <label for="profileChoice3">3</label>

            <input type="radio" id="profileChoice4"
             name="profile_pic" value="4">
            <label for="profileChoice4">4</label>

            <input type="radio" id="profileChoice5"
             name="profile_pic" value="5">
            <label for="profileChoice5">5</label>
            
            <br>

            {% for pic in profile_pics_women %}
            <img src="{{pic}}" height="100" width="100">
            {% endfor %}
            <br>

            <input type="radio" id="profileChoice6"
             name="profile_pic" value="6">
            <label for="profileChoice6">6</label>

            <input type="radio" id="profileChoice7"
             name="profile_pic" value="7">
            <label for="profileChoice7">7</label>

            <input type="radio" id="profileChoice8"
             name="profile_pic" value="8">
            <label for="profileChoice8">8</label>

            <input type="radio" id="profileChoice9"
             name="profile_pic" value="9">
            <label for="profileChoice9">9</label>

            <input type="radio" id="profileChoice10"
             name="profile_pic" value="10">
            <label for="profileChoice10">10</label>          
        </div>

        <br>
        <h2>Step 2: 선택</h2>
        <input type="text" name="intro" max_length="50" placeholder="한줄 소개" />
        <br>
        <select name="mbti">
            <option value="" selected>MBTI 선택하기</option>

            <option value="INFJ">INFJ</option>
            <option value="INFP">INFP</option>
            <option value="INTJ">INTJ</option>
            <option value="INTP">INTP</option>

            <option value="ISFJ">ISFJ</option>
            <option value="ISFP">ISFP</option>
            <option value="ISTJ">ISTJ</option>
            <option value="ISTP">ISTP</option>

            <option value="ENFJ">ENFJ</option>
            <option value="ENFP">ENFP</option>
            <option value="ENTJ">ENTJ</option>
            <option value="ENTP">ENTP</option>

            <option value="ESFJ">ESFJ</option>
            <option value="ESFP">ESFP</option>
            <option value="ESTJ">ESTJ</option>
            <option value="ESTP">ESTP</option>
        </select>
        <br>
        <button type="submit">명함 만들기</button>
    </form>
</section>
{% endblock content %}